@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --olive: #585a4f;
  --gold: #d8cb6a;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
