# URL base da API FastAPI
NEXT_PUBLIC_API_URL=http://localhost:8000

# Supabase (para auth no cliente)
NEXT_PUBLIC_SUPABASE_URL=https://udkahpqjqznwdqmbazho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVka2FocHFqcXpud2RxbWJhemhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MDEzODYsImV4cCI6MjA5MTk3NzM4Nn0.CInHw3jbfyv39eLiEW057wCKfH1T7gNHZAcB3WqAdhE
